{% extends 'base.html' %}
{% block title %}Certificate | {{std.student_name}}{% endblock %}
{% block main %}
<div class="container my-4 text-center">
    <div class="row">
        <div class="col-md-6 my-4">
            <img class="error_img" src="https://drive.google.com/uc?export=view&id={{std.gdrive_id}}" alt="Cert Here">
        </div>
        <div class="col-md-6">
            <div class="content">
                <p class="des">Certificate number : {{std.cert_number}}</p>
                <div class="titl">Certified to</div>
                <h2 class="title-head">{{std.student_name}}</h2>
                <p class="des">For the course <b>{{std.course}}</b>
                </p>
                <a href="#" class="btn btn-outline-info">Go back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}